<ion-header [translucent]="true">
  <ion-toolbar color="azulote">
    <ion-title class="ion-text-center">
      Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button (click)="irA('lunes')" expand="full">
    Lunes
  </ion-button>
  <ion-button (click)="irA('martes')" expand="full">
    Martes
  </ion-button>
  <ion-button (click)="irA('miercoles')" color="azul-claro" expand="full">
    Miércoles
  </ion-button>
  <ion-button (click)="irA('jueves')" color="azul-verde-claro" expand="full">
    Jueves
  </ion-button>
  <ion-button (click)="irA('viernes')" color="azulado-verde" expand="full">
    Viernes
  </ion-button>
  <ion-button (click)="irA('sabado')" color="azul-verdoso" expand="full">
    Sábado
  </ion-button>
  <ion-button (click)="irA('domingo')" color="verde" expand="full">
    Domingo
  </ion-button>
</ion-content>
